/* 定义宋体 */
@font-face {
    font-family: 'SimSun';
    src: url('docs/assets/fonts/SIMSUN.TTC') format('truetype');
}

/* 定义方正小标宋简体  */
@font-face {
    font-family: 'fzxbsjt';
    src: url('docs/assets/fonts/方正小标宋简体.TTF') format('truetype');
}

/* 定义 Times New Roman 常规样式 */
@font-face {
    font-family: 'Times New Roman';
    src: url('docs/assets/fonts/TIMES.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 定义 Times New Roman 粗体样式 */
@font-face {
    font-family: 'Times New Roman';
    src: url('docs/assets/fonts/TIMESBD.TTF') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* 定义 Times New Roman 斜体样式 */
@font-face {
    font-family: 'Times New Roman';
    src: url('docs/assets/fonts/TIMESI.TTF') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* 定义 Times New Roman 粗斜体样式 */
@font-face {
    font-family: 'Times New Roman';
    src: url('docs/assets/fonts/TIMESBI.TTF') format('truetype');
    font-weight: bold;
    font-style: italic;
}



/*默认宋体*/
body {
    font-family:'Times New Roman', 'SimSun', sans-serif;
}

/* 针对具体语言设置不同的字体 */
body:lang(en) {
    font-family: 'Times New Roman', sans-serif;
} 

body:lang(zh) {
    font-family: 'SimSun', sans-serif;
} 

/* 针对具体元素设置字体 */
h1, h2, h3, h4, h5, h6 {
    font-family: 'fzxbsjt', sans-serif;
}

/* 修改 h1 标题的样式 */
h1 {
    font-family: 'fzxbsjt', sans-serif;
    color: #333;
    font-size: 28px;
    /* 其他样式属性 */
}

/* 修改 h2 标题的样式 */
h2 {
    font-family: 'Times New Roman', sans-serif;
    color: #666;
    font-size: 24px;
    /* 其他样式属性 */
}

/* 修改 h3 标题的样式 */
h3 {
    font-family: 'SimSum', serif;
    color: #000000;
    font-size: 20px;
    /* 其他样式属性 */
}


p {
    font-family: 'Times New Roman', 'SimSun', sans-serif;
}

/* 设置主导航栏字体 */
.md-nav__list a {
    font-family: 'Times New Roman', 'fzxbsjt', sans-serif;
    font-size: 16px; /* 设置字体大小 */
}

/* 设置当前激活项的字体 */
.md-nav__list a.is-active {
    font-family: 'Times New Roman', 'fzxbsjt', sans-serif;
    font-size: 18px; /* 设置字体大小 */
    color: red; /* 例如，改变激活项的字体颜色 */
    font-weight: bold; /* 使激活项的字体加粗 */
}

/* 设置侧边栏次级导航栏字体 */
.md-sidebar--secondary .md-nav__list a {
    font-family: 'Times New Roman', 'fzxbsjt', sans-serif;
    font-size: 14px; /* 设置字体大小 */
}
