table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    align: center; 
    valign: center; /* 居中对齐 */
}


.table-indent {
    padding-left: 40px;
}
